doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            | GameTree
        //- link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.min.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/main.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fonts.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fontello.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/animate.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/dropdown-lang.css")
        link(rel='icon', type='image/x-icon', href='img/favicon.ico?v1')

        script(type='text/javascript', src='https://vk.com/js/api/openapi.js?133')
    body
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script(type='text/javascript').
            VK.init({
                apiId: 5672130, //used self api key
                onlyWidgets: true
            });
        script.
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));

        <!-- HEADER -->
        header.header(data-magellan, data-bar-offset='-30')
            .language
                //- Hide flag option that’s already selected and make others hidden until acted upon. Mouseover on web, click on mobile.
                select#cd-dropdown.cd-select(name='cd-dropdown')
                    option(value='-1', selected='')
                    option.ru(value='1')
                    //- option.en(value='2')
            .row
                .card-container
                    .flipper-card-container
                        .header-card.card-one
                            .logo.bounceInLeft.animated
                                img(src='img/logo-header.png')
                                span Beta
                            .card-main-text.bounceInRight.animated
                                | Discover&nbsp;
                                span games
                                | &nbsp;you will like.
                                br
                                | Experience them with&nbsp;
                                span.special friends
                                | .
                            #button-one.my-button.fadeIn.animated SECURE MY SPOT
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            //- .arrow_box.show-for-large
                            a.link.arrow_box.show-for-large(href="#nav")
                        .header-card.card-two
                            .card-main-text
                                form#ema_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                    div(style='margin:0;padding:0;display:inline')
                                        input(name='utf8', type='hidden', value='✓')
                                        input#signup_lang(name='signup[lang]', type='hidden', value='en')
                                    .mimi_field.required
                                        | I,
                                        //- input.name(type='text' placeholder='(your name)')
                                        input#signup_name.name(
                                            name='signup[name]',
                                            type='text',
                                            data-required-field='This field is required',
                                            placeholder='(your name)'
                                            )
                                        | , would like to journey
                                        | forth into this new world of games. Please send my
                                        | invite to @
                                    .mimi_field.required
                                        //- input.email(type='text' placeholder='(your email)')
                                        input#signup_email.email(
                                            name='signup[email]',
                                            type='text',
                                            data-required-field='This field is required',
                                            placeholder='(your email)'
                                            )
                                        | .
                                    .mimi_field
                                        input#webform_submit_button.submit.my-button(
                                            type='submit',
                                            value='SECURE MY SPOT',
                                            data-default-text='Subscribe',
                                            data-submitting-text='Sending...',
                                            data-invalid-text='↑ You forgot some required fields',
                                            data-choose-list='↑ Choose a list',
                                            data-thanks='Thank you!'
                                            )
                            //- #button-two.my-button.position SECURE MY SPOT
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            a.link.arrow_box.show-for-large(href="#nav")
                            //- .arrow_box.show-for-large
                    .header-card.card-three
                        .card-main-text.position
                            | Thank you for joining us!
                        a.link.link-down.my-button(href="#nav")
                            | How It Works
                        a.link.arrow_box.show-for-large(href="#nav")
                        //- .arrow_box.show-for-large
        //- Nav should stick after top touches top of screen, not bottom. Make everything about 5px shorter
        nav#nav.nav(data-sticky-container='', data-magellan, data-bar-offset='100', data-threshold='')
            div(data-sticky='',data-sticky-on='small', data-top-anchor="nav", data-options='marginTop:0;', style='width:100%')
                .row
                    .title-bar(data-responsive-toggle='my-menu', data-hide-for='large')
                        button.menu-icon(type='button', data-toggle='')
                        .title-bar-title Menu
                    #my-menu.top-bar
                        ul.dropdown.menu(data-dropdown-menu='')
                            li
                                a.link
                                    img(src='img/logo-nav.png')
                            li
                                a.link.games(href='http://blog.gametree.me/mission/' target="_blank") About
                            li
                                a.link.fiends(href='http://blog.gametree.me/' target="_blank") Blog
                            li
                                a.link.how-it-works(href='http://blog.gametree.me/contact-form/' target="_blank") Contact Us
                            li
                                a.link.my-button.my-button-nav(href="#bottom-form")
                                    | SECURE MY SPOT
        section#section-one(data-magellan-target="section-one")
            .row.section-one
                .columns.description
                    i
                        | GameTree is about maximizing your fun by getting to know
                        | who you are as a person and connecting you with the people
                        | and experiences you didn’t even know you craved.
                    //- span.signature John Uke, GameTree
            .row.section-two
                .large-4.columns
                    .box.blue
                        .circle
                            img(src='img/icons_advice.png')
                        h2 Personalized Advice
                        p
                            | Read reviews from your most relevant
                            | friends and people like you.
                .large-4.columns
                    .box.brown
                        .circle
                            img.jewel(src='img/icon_jewel.png')
                        h2 Hidden Gems
                        p
                            | Discover new games and genres you will
                            | like but would otherwise never know about.
                .large-4.columns
                    .box.yellow
                        .circle
                            img.gamefriends(src='img/icon_gamefriends.png')
                        h2 Game With Friends
                        p
                            | Find out which of your friends are interested
                            | in the same game as you, or meet new ones.
        section
            .row.section-four
                .description
                    span
                        strong How It Works&nbsp;
                    | Without getting too technical (unless, that`s your
                    | thing then,&nbsp;
                    a.link.link-underline(href='https://medium.com/game-tree/personality-the-key-of-lenses-and-likes-ac997cbb51e1#.ao2h6sld6' target="_blank") here you go
                    | ), GameTree leverages your
                    | tastes, personality, and friend network to offer
                    | personal recommendations that are
                    i
                        strong &nbsp;65% more accurate&nbsp;
                    | than user-voted averages.
            .row.section-five
                //- these will have new style with text filled boxes connected to image circles (check Skype)
                .playing-cards-wrapper
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Likes
                                p
                                    u Competition
                                    |,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head Motivated by
                                p
                                    u Achievement
                                    |,&nbsp;
                                    u enthusiasm
                                    |, and&nbsp;
                                    u doing good.
                            span.foot Interested In Playing
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
        section.section-slideshow
            .row
                .wrapper
                    #bottom-form.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='')
                        ul.orbit-container
                            .card-bottom
                                .card-main-text.position
                                    | Thank you for joining us!
                            li.orbit-slide.active
                                div
                                    .card-main-text
                                        form#ema_bottom_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                            div(style='margin:0;padding:0;display:inline')
                                                input(name='utf8', type='hidden', value='✓')
                                                input#signup_bottom_lang(name='signup[lang]', type='hidden', value='en')
                                            .mimi_field.required
                                                | I,
                                                //- input.name(type='text' placeholder='(your name)')
                                                input#signup_bottom_name.name(
                                                name='signup[name]',
                                                type='text',
                                                data-required-field='This field is required',
                                                placeholder='(your name)'
                                                )
                                                | , would like to journey
                                                | forth into this new world of games. Please send my
                                                | invite to @
                                            .mimi_field.required
                                                //- input.email(type='text' placeholder='(your email)')
                                                input#signup_bottom_email.email(
                                                name='signup[email]',
                                                type='text',
                                                data-required-field='This field is required',
                                                placeholder='(your email)'
                                                )
                                                | .
                                            .mimi_field
                                                input#webform_bottom_submit_button.submit.my-button-orbit(
                                                type='submit',
                                                value='Journey With Us',
                                                data-default-text='Subscribe',
                                                data-submitting-text='Sending...',
                                                data-invalid-text='↑ You forgot some required fields',
                                                data-choose-list='↑ Choose a list',
                                                data-thanks='Thank you!'
                                                )
                                        //- form.card-form
                                        //-    | I,
                                        //-    input.name(type='text' placeholder='(your name)')
                                        //-    | , would like to journey forth
                                        //-    | forth into this new world of games. Please send my
                                        //-    | invite to @
                                        //-    input.email(type='text' placeholder='(your email)')
                                        //-    | .
                                            //-input(type='submit' value="Journey With Us")
                                    //- #button-three.my-button.my-button-orbit Journey With Us
                                    img(src='img/Jesse-Schell-Casual-Headshot.jpg')
                                    p.text-center
                                        i
                                            | “GameTree has the potential to be a revolutionary social
                                            | network that is based both on the secrets of player psychology
                                            | and our deep love of games.”
                                    //- h3.text-center Jesse Schell
                                    div.bottom
                                        i
                                            strong Jesse Schell&nbsp;
                                            | CEO of&nbsp;
                                            a.link.link-underline(href="https://www.schellgames.com/about" target="_blank")
                                                | Schell Games
                                            //- Link to https://www.schellgames.com/about + green styling on all body links
                                            | &nbspand Author of&nbsp;
                                            a.link.link-underline(href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1" target="_blank")
                                                | The Art of Game Design&nbsp;
                                            //- Link to https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1
                        //- Will be an automatic slideshow and only to the testimonials so don't need buttons
                        //- button.orbit-previous
                        //-     span.show-for-sr Previous Slide
                        //-     |  ◀︎
                        //- button.orbit-next
                        //-     span.show-for-sr Next Slide
                        //-     |  ▶︎
        footer.footer
            .row
                .wrapper-ico
                    span Follow as on:&nbsp;
                    a.link(href='http://blog.gametree.me/' target="_blank")
                        i.icon-blogger
                    a.link(href='https://www.facebook.com/gametreetribe/' target="_blank")
                        i.icon-facebook
                    a.link(href='https://www.instagram.com/gametreeapp/' target="_blank")
                        i.icon-instagram
                    a.link(href='https://vk.com/gametreeapp' target="_blank")
                        i.icon-vkontakte
            .row
                .large-8.large-centered
                    .large-4.columns
                        ul
                            li
                                strong Learn
                            li
                                a.link(href='http://blog.gametree.me/mission/' target="_blank") About
                            li
                                a.link(href='http://blog.gametree.me/' target="_blank") Blog
                            li
                                a.link(href='#contact-us' target="_blank") Our Journey
                            li
                                a.link(href='#contact-us' target="_blank") Privacy Policy
                    .large-4.columns
                        ul
                            li
                                strong Engage
                            li
                                a.link(href='#about' target="_blank") Promote
                            li
                                a.link(href='#blog' target="_blank") Jobs
                            li
                                a.link(href='#contact-us' target="_blank") Developers
                            li
                                a.link(href='mailto:help@gametree.me' target="_blank") Contact
                    .large-4.columns
                        ul
                            li
                                strong Business
                            li
                                a.link(href='#about' target="_blank") Press
                            li
                                a.link(href='#blog' target="_blank") Invest
                            li
                                a.link(href='#contact-us' target="_blank") Opportunities
                            li
                                a.link(href='#contact-us' target="_blank") Store Owners
            .row
                .share-wrapper
                    table
                        tbody
                            tr
                                td
                                    a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='normal')
                                        | Tweet
                                td
                                    #vk_like
                                        script(type='text/javascript').
                                            VK.Widgets.Like("vk_like", {type: "button", height: 20});
                                td
                                    .fb-share-button(
                                    data-href='http://gametree.me/',
                                    data-layout='button_count'
                                    )
            .row
                span
                    | © Copyright&nbsp;
                    script(type="text/javascript")
                        | document.write(new Date().getFullYear());
                    | &nbsp;GameTree PBC.
        // Google.Analytics
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-85683890-1', 'auto');
            ga('send', 'pageview');
        // /Google.Analytics
        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter40221379 = new Ya.Metrika({
                            id: 40221379,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true
                        });
                    } catch (e) {
                    }
                });
                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () {
                            n.parentNode.insertBefore(s, n);
                        };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/40221379', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/foundation.js")
    script(type="text/javascript", src="js/velocity.min.js")
    script(type="text/javascript", src="js/modernizr.custom.63321.js")
    script(type="text/javascript", src="js/jquery.dropdown.js")
    script(type="text/javascript", src="js/app.js")
