doctype html
html(lang='ru')
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            | GameTree
        //- link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.min.css")
        //link(href='https://fonts.googleapis.com/css?family=Lora|Open+Sans|Ubuntu', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/foundation.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/main.css")
        //- link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fonts.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/fontello.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/animate.css")
        //- link(type="text/css", rel="stylesheet", rev="stylesheet", href="style/dropdown-lang.css")
        link(rel='icon', type='image/x-icon', href='img/favicon.ico?v1')

        //- script(type='text/javascript', src='https://vk.com/js/api/openapi.js?133')
        script(type='text/javascript', src='http://vk.com/js/api/share.js?94', charset='windows-1251')
    body.ru-lang
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script.
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));

        <!-- HEADER -->
        header.header(data-magellan, data-bar-offset='-30')
            .language
                //- Hide flag option that’s already selected and make others hidden until acted upon. Mouseover on web, click on mobile.
                //- select#cd-dropdown.cd-select(name='cd-dropdown', onchange='window.location.href=this.value')
                //-     option(value='-1', selected='')
                //-     option.ru(value='http://ru.gametree.me/')
                    //- option.en(value='2')
                .language-wrapper
                    .ru.active
                    .en.not-active
                        a.link(href='http://gametree.me/')
            .row
                .card-container
                    .flipper-card-container
                        .header-card.card-one
                            .logo.bounceInLeft.animated
                                img(src='img/logo-header.png')
                                span Beta
                            .card-main-text.bounceInRight.animated
                                | Находи новые&nbsp;
                                span игры
                                | &nbsp;и
                                br
                                | играй в них с&nbsp;
                                span.special друзьями
                                | !
                            #button-one.my-button.fadeIn.animated Регистрация
                            a.link.link-down.my-button(href="#nav")
                                | Как это работает?
                            //- .arrow_box.show-for-large
                            a.link.arrow_box.show-for-large(href="#nav")
                        .header-card.card-two
                            .card-main-text
                                form#ema_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                    div(style='margin:0;padding:0;display:inline')
                                        input(name='utf8', type='hidden', value='✓')
                                        input#signup_lang(name='signup[lang]', type='hidden', value='ru')
                                    .mimi_field.required
                                        | Я,
                                        //- input.name(type='text' placeholder='(your name)')
                                        input#signup_name.name(
                                            name='signup[name]',
                                            type='text',
                                            data-required-field='Пустое поле',
                                            placeholder='(ваше имя)'
                                            )
                                        | , хотел бы отправиться в путешествие в новый мир
                                        | игр. Пожалуйста, пришлите моё приглашение
                                        | на адрес:
                                    .mimi_field.required
                                        //- input.email(type='text' placeholder='(your email)')
                                        input#signup_email.email(
                                            name='signup[email]',
                                            type='text',
                                            data-required-field='Пустое поле',
                                            placeholder='(ваш имейл)'
                                            )
                                        | .
                                    .mimi_field
                                        input#webform_submit_button.submit.my-button(
                                            type='submit',
                                            value='Регистрация',
                                            data-default-text='Отправить',
                                            data-submitting-text='Отправляется...',
                                            data-invalid-text='↑ Поле не заполнено',
                                            data-choose-list='↑ Choose a list',
                                            data-thanks='Спасибо, что вы с нами!'
                                            )
                            //- #button-two.my-button.position Регистрация
                            a.link.link-down.my-button(href="#nav")
                                | Как это работает?
                            a.link.arrow_box.show-for-large(href="#nav")
                            //- .arrow_box.show-for-large
                    .header-card.card-three
                        .card-main-text.position
                            | Спасибо, что вы с нами!
                        a.link.link-down.my-button(href="#nav")
                            | Как это работает?
                        a.link.arrow_box.show-for-large(href="#nav")
                        //- .arrow_box.show-for-large
        //- Nav should stick after top touches top of screen, not bottom. Make everything about 5px shorter
        nav#nav.nav(data-sticky-container='', data-magellan, data-bar-offset='100', data-threshold='')
            div(data-sticky='',data-sticky-on='small', data-top-anchor="nav", data-options='marginTop:0;', style='width:100%')
                .row
                    .title-bar(data-responsive-toggle='my-menu', data-hide-for='large')
                        button.menu-icon(type='button', data-toggle='')
                        .title-bar-title Меню
                    #my-menu.top-bar
                        ul.dropdown.menu(data-dropdown-menu='')
                            li
                                a.link
                                    img(src='img/logo-nav.png')
                            li
                                a.link.games(href='http://blog.gametree.me/mission/' target="_blank") Про нас
                            li
                                a.link.fiends(href='http://blog.gametree.me/' target="_blank") Блог
                            li
                                a.link.how-it-works(href='http://blog.gametree.me/contact-form/' target="_blank") Связаться с нами
                            li
                                a.link.my-button.my-button-nav(href="#bottom-form")
                                    | Регистрация
        section#section-one(data-magellan-target="section-one")
            .row.section-one
                .columns.description
                    i
                        | С помощью GameTree вы получите максимум удовольствия
                        | от игр, благодаря уникальной технологии подбора игр под ваш вкус.
                    //- span.signature John Uke, GameTree
            .row.section-two
                .large-4.columns
                    .box.blue
                        .circle
                            img(src='img/icons_advice.png')
                        h2 Личные рекомендации
                        p
                            | Читайте отзывы ваших друзей и таких же
                            | игроков как вы.
                .large-4.columns
                    .box.brown
                        .circle
                            img.jewel(src='img/icon_jewel.png')
                        h2 Скрытые Сокровища
                        p
                            | Открывайте для себя новые игры и жанры,
                            | о которых вы могли никогда и не узнать.
                .large-4.columns
                    .box.yellow
                        .circle
                            img.gamefriends(src='img/icon_gamefriends.png')
                        h2 Играйте с друзьями
                        p
                            | Узнайте, кто из ваших друзей хотел бы играть
                            | в те же игры что и вы. Или находите новых!
        section
            .row.section-four
                .description
                    span
                        strong Как это работает?&nbsp;
                    | Не вдаваясь в технические подробности
                    | (если интересно,&nbsp;
                    a.link.link-underline(href='https://medium.com/game-tree/personality-the-key-of-lenses-and-likes-ac997cbb51e1#.ao2h6sld6' target="_blank") вот, пожалуйста
                    | ), GameTree анализирует ваши предпочтения, характер и
                    | круг общения, чтобы предложить индивидуальные
                    | рекомендации. Они на
                    i
                        strong &nbsp;65% более точные&nbsp;
                    | , чем статистика отзывов пользователей.
            .row.section-five
                //- these will have new style with text filled boxes connected to image circles (check Skype)
                .playing-cards-wrapper
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Предприниматель
                            span.head.text-left Первооткрыватель
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Любит:
                                p
                                    u Соперничество
                                    | ,&nbsp;
                                    u трудности
                                    | , и&nbsp;
                                    u товарищество.
                            div.head Мотивации:
                                p
                                    u Достижения
                                    | ,&nbsp;
                                    u энтузиазм
                                    | , и&nbsp;
                                    u успешное выполнение задач.
                            span.foot Предпочитает игры:
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Предприниматель
                            span.head.text-left Первооткрыватель
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Любит:
                                p
                                    u Соперничество
                                    | ,&nbsp;
                                    u трудности
                                    | , и&nbsp;
                                    u товарищество.
                            div.head Мотивации:
                                p
                                    u Достижения
                                    | ,&nbsp;
                                    u энтузиазм
                                    | , и&nbsp;
                                    u успешное выполнение задач.
                            span.foot Предпочитает игры:
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='img/jacklondon.png')
                            span.name.text-left boblikesoup
                            span.head.text-left Предприниматель
                            span.head.text-left Первооткрыватель
                            span.small-ico.mouse
                            span.small-ico.cube
                        div
                            div.head Любит:
                                p
                                    u Соперничество
                                    | ,&nbsp;
                                    u трудности
                                    | , и&nbsp;
                                    u товарищество.
                            div.head Мотивации:
                                p
                                    u Достижения
                                    | ,&nbsp;
                                    u энтузиазм
                                    | , и&nbsp;
                                    u успешное выполнение задач.
                            span.foot Предпочитает игры:
                        div.games
                            img(src='img/game-1.jpg')
                            img(src='img/game-2.jpg')
                            img(src='img/game-3.jpg')
        section.section-slideshow
            .row
                .wrapper
                    #bottom-form.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='')
                        ul.orbit-container
                            .card-bottom
                                .card-main-text.position
                                    | Спасибо, что вы с нами!
                            li.orbit-slide.active
                                div
                                    .card-main-text
                                        form#ema_bottom_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                            div(style='margin:0;padding:0;display:inline')
                                                input(name='utf8', type='hidden', value='✓')
                                                input#signup_bottom_lang(name='signup[lang]', type='hidden', value='ru')
                                            .mimi_field.required
                                                | Я,
                                                //- input.name(type='text' placeholder='(your name)')
                                                input#signup_bottom_name.name(
                                                name='signup[name]',
                                                type='text',
                                                data-required-field='Пустое поле',
                                                placeholder='(ваше имя)'
                                                )
                                                | , хотел бы отправиться в путешествие в новый мир
                                                | игр. Пожалуйста, пришлите моё приглашение
                                                | на адрес:
                                            .mimi_field.required
                                                //- input.email(type='text' placeholder='(your email)')
                                                input#signup_bottom_email.email(
                                                name='signup[email]',
                                                type='text',
                                                data-required-field='Пустое поле',
                                                placeholder='(ваш email)'
                                                )
                                                | .
                                            .mimi_field
                                                input#webform_bottom_submit_button.submit.my-button-orbit(
                                                type='submit',
                                                value='Присоединяйтесь к нам',
                                                data-default-text='Отправить',
                                                data-submitting-text='Отправляется...',
                                                data-invalid-text='↑ Поле не заполнено',
                                                data-choose-list='↑ Choose a list',
                                                data-thanks='Thank you!'
                                                )
                                        //- form.card-form
                                        //-    | I,
                                        //-    input.name(type='text' placeholder='(your name)')
                                        //-    | , would like to journey forth
                                        //-    | forth into this new world of games. Please send my
                                        //-    | invite to @
                                        //-    input.email(type='text' placeholder='(your email)')
                                        //-    | .
                                            //-input(type='submit' value="Journey With Us")
                                    //- #button-three.my-button.my-button-orbit Journey With Us
                                    img(src='img/Jesse-Schell-Casual-Headshot.jpg')
                                    p.text-center
                                        i
                                            | “GameTree может стать революционной социальной сетью, основанной на
                                            | секретах психологии игроков и нашей огромной любви к играм”
                                    //- h3.text-center Jesse Schell
                                    div.bottom
                                        i
                                            strong Джесси Шелль&nbsp;
                                            | Исполнительный директор&nbsp;
                                            a.link.link-underline(href="https://www.schellgames.com/about" target="_blank")
                                                | Schell Games
                                            //- Link to https://www.schellgames.com/about + green styling on all body links
                                            | , автор книги&nbsp;
                                            a.link.link-underline(href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1" target="_blank")
                                                | The Art of Game Design&nbsp;
                                            //- Link to https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1
                        //- Will be an automatic slideshow and only to the testimonials so don't need buttons
                        //- button.orbit-previous
                        //-     span.show-for-sr Previous Slide
                        //-     |  ◀︎
                        //- button.orbit-next
                        //-     span.show-for-sr Next Slide
                        //-     |  ▶︎
        footer.footer
            .row
                .wrapper-ico
                    span Мы в социальных сетях:&nbsp;
                    a.link(href='http://blog.gametree.me/' target="_blank")
                        i.icon-blogger
                    a.link(href='https://www.facebook.com/gametreetribe/' target="_blank")
                        i.icon-facebook
                    a.link(href='https://www.instagram.com/gametreeapp/' target="_blank")
                        i.icon-instagram
                    a.link(href='https://vk.com/gametreeapp' target="_blank")
                        i.icon-vkontakte
            .row
                .large-8.large-centered
                    .large-4.columns
                        ul
                            li
                                strong Изучай
                            li
                                a.link(href='http://blog.gametree.me/mission/' target="_blank") О нас
                            li
                                a.link(href='http://blog.gametree.me/' target="_blank") Блог
                            li
                                a.link(href='#contact-us' target="_blank") Наш путь
                            li
                                a.link(href='#contact-us' target="_blank") Политика конфиденциальности
                    .large-4.columns
                        ul
                            li
                                strong Прими участие
                            li
                                a.link(href='#about' target="_blank") Продвижение
                            li
                                a.link(href='#blog' target="_blank") Работа
                            li
                                a.link(href='#contact-us' target="_blank") Разработчики
                            li
                                a.link(href='http://blog.gametree.me/contact-form/' target="_blank") Контакты
                    .large-4.columns
                        ul
                            li
                                strong Для бизнес предложений
                            li
                                a.link(href='#about' target="_blank") Пресс релизы
                            li
                                a.link(href='#blog' target="_blank") Для инвесторов
                            li
                                a.link(href='#contact-us' target="_blank") Возможности
                            li
                                a.link(href='#contact-us' target="_blank") Владельцам магазинов
            .row
                .share-wrapper
                    table
                        tbody
                            tr
                                td
                                    a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='normal')
                                        | Tweet
                                td.vkshare
                                    script(type='text/javascript').
                                        document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
                                td
                                    .fb-share-button(
                                    data-href='http://gametree.me/',
                                    data-layout='button_count'
                                    )
            .row
                span
                    | © Copyright&nbsp;
                    script(type="text/javascript")
                        | document.write(new Date().getFullYear());
                    | &nbsp;GameTree PBC.
        // Google.Analytics
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-85683890-1', 'auto');
            ga('send', 'pageview');
        // /Google.Analytics
        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter40221379 = new Ya.Metrika({
                            id: 40221379,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true
                        });
                    } catch (e) {
                    }
                });
                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () {
                            n.parentNode.insertBefore(s, n);
                        };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/40221379', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/foundation.js")
    script(type="text/javascript", src="js/velocity.min.js")
    script(type="text/javascript", src="js/modernizr.custom.63321.js")
    script(type="text/javascript", src="js/jquery.dropdown.js")
    script(type="text/javascript", src="js/app.js")
