doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            | GameTree – is a friend recommendation platform for gamers
        meta(name='description', content="GameTree lets you discover games based on your personality and find new friends to play them with.")
        meta(name='keywords', content="games, find friends, recommendations, app, ios, android")

        link(type="text/css", rel="stylesheet", rev="stylesheet", href="./landing_files/style/foundation.min.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="./landing_files/style/main.css?123")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="./landing_files/style/fontello.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="./landing_files/style/animate.css")
        link(type="text/css", rel="stylesheet", rev="stylesheet", href="./landing_files/style/animated-headline.css")
        link(rel='icon', type='image/x-icon', href='./landing_files/img/favicon.ico?v1')

        script(type="text/javascript", src="./landing_files/js/jquery-2.1.1.js")
        script(type="text/javascript", src="./landing_files/js/foundation.min.js")

        script(type='text/javascript', src='http://vk.com/js/api/share.js?94', charset='windows-1251')
        script(type='text/javascript').
            (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=A142Rs6FIIQ89gUTPxUf14zrVpIEsASFrVC7*e2T6ZGByPyua7MQZwjLg2k4ntwXtVRnwITb6oRR2gDwpt71By456bwiFtX7lAnBbJxzL8JCjpVLiGCnSgGyU/aQsFKP0aQ9eENzaVxbaxq8RwMoYViI7fn7DI04ip*6jEjAXeM-&pixel_id=1000032363';

        // Facebook Pixel Code
        script.
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '113892682416006'); // Insert your pixel ID here.
            fbq('track', 'PageView');
        noscript
            img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=113892682416006&ev=PageView&noscript=1')
        // DO NOT MODIFY
        // End Facebook Pixel Code

    body

        <!-- HEADER -->
        header.header(data-magellan, data-bar-offset='-30')
            .language
                .language-wrapper
                    .en.active
                    .ru.not-active
                        a.link(href='http://gametree.me/ru')
            .row
                .card-container
                    .flipper-card-container
                        .header-card.card-one.cd-intro
                            .logo.bounceInLeft.animated
                                img(src='./landing_files/img/logo-header.png')
                                span Beta
                            .card-main-text.bounceInRight.animated.cd-headline.rotate-1
                                | The world is a&nbsp;
                                span.t-brown BIG
                                | &nbsp;place.
                                br
                                strong GameTree
                                | &nbsp;tells you which&nbsp;
                                span.cd-words-wrapper
                                    b.t-brown.is-visible tabletop
                                    b.t-blue computer
                                    b.t-yellow mobile
                                    b.t-blue console
                                br
                                | games you'll&nbsp;
                                span.t-blue like
                                | &nbsp;and who to&nbsp;
                                span.t-yellow play
                                | &nbsp;them with.
                                //| Discover&nbsp;
                                //span games
                                //| &nbsp;you will like.
                                //br
                                //| Experience them with&nbsp;
                                //span.special friends
                                //| .
                            #button-one.my-button.fadeIn.animated SECURE MY SPOT
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            a.link.arrow_box.show-for-large(href="#nav")
                        .header-card.card-two
                            .card-main-text
                                form#ema_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                    div(style='margin:0;padding:0;display:inline')
                                        input(name='utf8', type='hidden', value='✓')
                                        input#signup_lang(name='signup[lang]', type='hidden', value='en')
                                    .mimi_field.required
                                        | I,
                                        input#signup_name.name(
                                            name='signup[name]',
                                            type='text',
                                            data-required-field='Empty field',
                                            placeholder='(your name)'
                                            )
                                        | , would like to journey
                                        | forth into this new world of games. Please send my
                                        | invite to @
                                    .mimi_field.required
                                        input#signup_email.email(
                                            name='signup[email]',
                                            type='text',
                                            data-required-field='Empty field',
                                            placeholder='(your email)'
                                            )
                                        | .
                                    .mimi_field
                                        input#webform_submit_button.submit.my-button(
                                            type='submit',
                                            value='SECURE MY SPOT',
                                            data-default-text='Subscribe',
                                            data-submitting-text='Sending...',
                                            data-invalid-text='↑ Please fill empty fields',
                                            data-choose-list='↑ Choose a list',
                                            data-thanks='Thank you!'
                                            )
                            a.link.link-down.my-button(href="#nav")
                                | How It Works
                            a.link.arrow_box.show-for-large(href="#nav")
                    .header-card.card-three
                        .card-main-text.position
                            | Thank you for joining us!
                        a.link.link-down.my-button(href="#nav")
                            | How It Works
                        a.link.arrow_box.show-for-large(href="#nav")
        nav#nav.nav(data-sticky-container='', data-magellan, data-bar-offset='100', data-threshold='')
            div(data-sticky='',data-sticky-on='small', data-top-anchor="nav", data-options='marginTop:0;', style='width:100%')
                .row
                    .title-bar(data-responsive-toggle='my-menu', data-hide-for='large')
                        button.menu-icon(type='button', data-toggle='')
                        .title-bar-title Menu
                    #my-menu.top-bar
                        ul.dropdown.menu(data-dropdown-menu='')
                            li.text-left
                                a.link
                                    img(src='./landing_files/img/logo-nav.png')
                            li
                                a.link.games(href='http://blog.gametree.me/mission/' target="_blank") About
                                a.link.fiends(href='http://blog.gametree.me/' target="_blank") Blog
                                a.link.how-it-works(href='http://blog.gametree.me/contact-form/' target="_blank") Contact Us
                            li.text-right
                                a.link.my-button.my-button-nav(href="#bottom-form")
                                    | SECURE MY SPOT
        section#section-one(data-magellan-target="section-one")
            .row.section-one
                .columns.description
                    | The world of gaming has never been more crowded and
                    | noisy. GameTree connects you with the best people and&nbsp;
                    span experiences
                    |, so you can spend less time searching, and
                    | more doing what we all love, having fun.
            .row.section-two
                .large-4.columns
                    .box.blue
                        .circle
                            img(src='./landing_files/img/icons_advice.png')
                        h2 Personalized Advice
                        p
                            | Read reviews from your most relevant
                            | friends and people like you.
                .large-4.columns
                    .box.brown
                        .circle
                            img.jewel(src='./landing_files/img/icon_jewel.png')
                        h2 Hidden Gems
                        p
                            | Discover new games and genres you will
                            | like but would otherwise never know about.
                .large-4.columns
                    .box.yellow
                        .circle
                            img.gamefriends(src='./landing_files/img/icon_gamefriends.png')
                        h2 Game With Friends
                        p
                            | Find out which of your friends are interested
                            | in the same game as you, or meet new ones.
        section
            .row.section-four
                .description
                    span
                        strong How It Works&nbsp;
                    | Without getting too technical (unless, that`s your
                    | thing then,&nbsp;
                    a.link.link-underline(href='https://medium.com/game-tree/personality-the-key-of-lenses-and-likes-ac997cbb51e1#.ao2h6sld6' target="_blank") here you go
                    | ), GameTree leverages your
                    | tastes, personality, and friend network to offer
                    | personal recommendations that are
                    i
                        strong &nbsp;65% more accurate&nbsp;
                    | than user-voted averages.
            .row.section-five
                .playing-cards-wrapper
                    .playing-cards
                        div.data
                            img.avatar(src='./landing_files/img/jacklondon.png')
                            span.name.my-label.yellow.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse.my-label
                            span.small-ico.cube.my-label
                        div
                            div.head
                                span.my-label.blue Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head
                                span.my-label.brown Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Wants To Play
                        div.games
                            img(src='./landing_files/img/game-1.jpg')
                            img(src='./landing_files/img/game-2.jpg')
                            img(src='./landing_files/img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='./landing_files/img/jacklondon.png')
                            span.name.my-label.yellow.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse.my-label
                            span.small-ico.cube.my-label
                        div
                            div.head
                                span.my-label.blue Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head
                                span.my-label.brown Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Wants To Play
                        div.games
                            img(src='./landing_files/img/game-1.jpg')
                            img(src='./landing_files/img/game-2.jpg')
                            img(src='./landing_files/img/game-3.jpg')
                    .playing-cards
                        div.data
                            img.avatar(src='./landing_files/img/jacklondon.png')
                            span.name.my-label.yellow.text-left boblikesoup
                            span.head.text-left Entrepreneur
                            span.head.text-left Pioneer
                            span.small-ico.mouse.my-label
                            span.small-ico.cube.my-label
                        div
                            div.head
                                span.my-label.blue Likes
                                p
                                    u Competition
                                    | ,&nbsp;
                                    u challenge
                                    | , and&nbsp;
                                    u fellowship.
                            div.head
                                span.my-label.brown Motivated by
                                p
                                    u Achievement
                                    | ,&nbsp;
                                    u enthusiasm
                                    | , and&nbsp;
                                    u doing good.
                            span.foot Wants To Play
                        div.games
                            img(src='./landing_files/img/game-1.jpg')
                            img(src='./landing_files/img/game-2.jpg')
                            img(src='./landing_files/img/game-3.jpg')
        section.section-slideshow
            .row
                .wrapper
                    #bottom-form.orbit(role='region', aria-label='Favorite Space Pictures', data-orbit='')
                        ul.orbit-container
                            .card-bottom
                                .card-main-text.position
                                    | Thank you for joining us!
                            li.orbit-slide.active
                                div
                                    .card-main-text
                                        form#ema_bottom_signup_form.card-form(accept-charset='UTF-8', action='https://gem.godaddy.com/signups/subscribe/297384', method='post', target='_blank')
                                            div(style='margin:0;padding:0;display:inline')
                                                input(name='utf8', type='hidden', value='✓')
                                                input#signup_bottom_lang(name='signup[lang]', type='hidden', value='en')
                                            .mimi_field.required
                                                | I,
                                                input#signup_bottom_name.name(
                                                name='signup[name]',
                                                type='text',
                                                data-required-field='Empty field',
                                                placeholder='(your name)'
                                                )
                                                | , would like to journey
                                                | forth into this new world of games. Please send my
                                                | invite to @
                                            .mimi_field.required
                                                input#signup_bottom_email.email(
                                                name='signup[email]',
                                                type='text',
                                                data-required-field='Empty field',
                                                placeholder='(your email)'
                                                )
                                                | .
                                            .mimi_field
                                                input#webform_bottom_submit_button.submit.my-button-orbit(
                                                type='submit',
                                                value='Journey With Us',
                                                data-default-text='Subscribe',
                                                data-submitting-text='Sending...',
                                                data-invalid-text='↑ Please fill empty fields',
                                                data-choose-list='↑ Choose a list',
                                                data-thanks='Thank you!'
                                                )
                                    img(src='./landing_files/img/Jesse-Schell-Casual-Headshot.jpg')
                                    p.text-center
                                        i
                                            | “GameTree has the potential to be a revolutionary social
                                            | network that is based both on the secrets of player psychology
                                            | and our deep love of games.”
                                    div.bottom
                                        i
                                            strong Jesse Schell&nbsp;
                                            | CEO of&nbsp;
                                            a.link.link-underline(href="https://www.schellgames.com/about" target="_blank")
                                                | Schell Games
                                            | &nbspand Author of&nbsp;
                                            a.link.link-underline(href="https://www.amazon.com/Art-Game-Design-Lenses-Second/dp/1466598646/ref=sr_1_1?ie=UTF8&qid=1476383649&sr=8-1" target="_blank")
                                                | The Art of Game Design&nbsp;
                        //- Will be an automatic slideshow and only to the testimonials so don't need buttons
                        //- button.orbit-previous
                        //-     span.show-for-sr Previous Slide
                        //-     |  ◀︎
                        //- button.orbit-next
                        //-     span.show-for-sr Next Slide
                        //-     |  ▶︎
        footer.footer
            .row
                .wrapper-ico
                    span Follow us on:&nbsp;
                    a.link(href='http://blog.gametree.me/' target="_blank")
                        i.icon-blogger
                    a.link(href='https://www.facebook.com/gametreetribe/' target="_blank")
                        i.icon-facebook
                    a.link(href='https://www.instagram.com/gametreeapp/' target="_blank")
                        i.icon-instagram
                    a.link(href='https://vk.com/gametreeapp' target="_blank")
                        i.icon-vkontakte
            .row
                .large-8.large-centered
                    .large-4.columns
                        ul
                            li
                                strong Learn
                            li
                                a.link(href='http://blog.gametree.me/mission/' target="_blank") About
                            li
                                a.link(href='http://blog.gametree.me/' target="_blank") Blog
                            li
                                a.link(href='#contact-us' target="_blank") Our Journey
                            li
                                a.link(href='#contact-us' target="_blank") Privacy Policy
                    .large-4.columns
                        ul
                            li
                                strong Engage
                            li
                                a.link(href='#about' target="_blank") Promote
                            li
                                a.link(href='#blog' target="_blank") Jobs
                            li
                                a.link(href='#contact-us' target="_blank") Developers
                            li
                                a.link(href='http://blog.gametree.me/contact-form/' target="_blank") Contact
                    .large-4.columns
                        ul
                            li
                                strong Business
                            li
                                a.link(href='#about' target="_blank") Press
                            li
                                a.link(href='#blog' target="_blank") Invest
                            li
                                a.link(href='#contact-us' target="_blank") Opportunities
                            li
                                a.link(href='#contact-us' target="_blank") Store Owners
            .row
                .share-wrapper
                    table
                        tbody
                            tr
                                td
                                    a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='normal')
                                        | Tweet
                                td.vkshare
                                    script(type='text/javascript').
                                        document.write(VK.Share.button(false, {type: "round", text: "Share"}));
                                td
                                    .fb-share-button(
                                    data-href='http://gametree.me/',
                                    data-layout='button_count'
                                    )
            .row
                span
                    | © Copyright&nbsp;
                    script(type="text/javascript")
                        | document.write(new Date().getFullYear());
                    | &nbsp;GameTree PBC.
        // Google.Analytics
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-85683890-1', 'auto');
            ga('send', 'pageview');
        // /Google.Analytics
        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter40349745 = new Ya.Metrika({
                            id: 40349745,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });
                    } catch (e) {
                    }
                });
                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () {
                            n.parentNode.insertBefore(s, n);
                        };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/40349745', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script.
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        // VK
        script(type='text/javascript').
            (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=BO7SH/zk8jGIXzJDi4VE8IkUHyxbUGFOkgHJxKNW1nuPJFsQwYgbtor7tx2B4PGTYagcUJXqXyrA/LvHMucPEPwYC2HaIFPDU1rJfRPlDDlNTO1IjddKLWNeeszYVDSBsVMBC8tbDg3pQxEqoaqExrbiD/GZpWSzxArPcnidO6c-&pixel_id=1000035823';
        // /VK
    script(type="text/javascript", src="./landing_files/js/velocity.min.js")
    script(type="text/javascript", src="./landing_files/js/animated-headline.js")
    script(type="text/javascript", src="./landing_files/js/app.min.js")
